@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    height: 100%
}
.apexcharts-tooltip {
    width: 450px;
}

.vis-item.vis.range.green {
 color: green
}
