@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.apexcharts-tooltip {
    white-space: pre-wrap !important;
    max-width: 200px;
    transform: translateY(100%) !important;
}
