@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    height: 100%
}
.apexcharts-tooltip {
    width: 450px;
}

.vis-item.vis-range.green {
    background-color: #166534;
    border-color: #15803d;
}


.vis-time-axis .vis-grid.vis-odd {
    background: #d1d5db;
}
